pytest==8.3.3
pytest-asyncio==0.24.0
pytest-mock==3.14.0
black==24.10.0
flake8==7.1.1
mypy==1.11.2
# Shared Requirements
cryptography==44.0.1
# Worker Requirements
aiogram==3.13.1
aiosqlite==0.20.0
fastapi==0.104.1
uvicorn[standard]==0.24.0
pydantic==2.4.2
python-multipart==0.0.18
pydantic-settings==2.0.3
psycopg2-binary
asyncpg
cachetools
stripe
httpx
docker==7.1.0
